.record:nth-of-type(even) {
  background: blue;
}

/* width */
.box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box::-webkit-scrollbar-thumb {
	
	background-image: linear-gradient(to right bottom,#ECEFF1,#90A4AE);
    border-radius: 10px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  
}
